#root {
    width: 50%;
    margin: 0 auto;
    
}
h2 {
text-align: center;
}

table {
border-collapse: collapse;
width: 100%;
border: 4px solid black;
border-radius: 50%;
}

table td{
font-size: larger;
border: 3px solid black;
width: 15%;

}

#exercise-table {
border: 4px solid blue;
}

.addButton {
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 3%;
}

.addButton button {
    padding: 15px;
    font-size: large;
}

.addForm {
font-size: large;
}

.addForm form{
margin-left: 10px;

}

.addForm p {
margin-bottom: 1px;
}

#addType {
margin-left: 11px;
width: 53%;
font-size: large;
}

#addName {
width: 50%;
font-size: large;
}

#addLevel {
margin-left: 8px;
font-size: large;
width: 15%;
}

#formButton {
background-color: #1a1a1a;
margin-left: 7%;
padding: 10px 20px;
border: 1px solid transparent;
border-radius: 8px;
cursor: pointer;
margin-top: 1%;
font-size: 1em;
font-weight: 500;
font-family: inherit;
transition: border-color 0.25s;
}

#addButton:hover {
border-color: #646cff;
}

.deleteForm {
flex-basis: 33%;
font-size: large;
text-align: center;
}

.updateForm {
flex-basis: 33%;
font-size: large;
}

.updateForm form{
margin-left: 10px;

}

.updateForm p {
margin-bottom: 1px;
}

button {
    padding: 7px;
}

.view {
    font-size: large;
}