#mainForm {
    text-align: center;
    margin-top: 25px;
}

#newForm {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

div {
    display: table;
    width: 100%;
}

#newDiv {
    position: absolute;
    height: 100%;
}

body {
    margin: 0;
}
